@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');
body {
  overflow-x: hidden;
  font-family: 'Maven Pro', sans-serif;
  background-color: #fefcfe
}

.top-title h1 {
  font-weight: bold;
}

.top-title {
  border-bottom: 0px solid grey;
  border-width: thin;
  margin-top: 0.5em;
  margin-bottom: 10px;
}

a.title {
  font-size: 1rem;
  color: black;
  font-weight: bold;
}

.sidebar i {
  margin-right: 1em;
}

.metadata {
  color: #b51112;
  font-size: 12px;
  margin-bottom: 0.5em;
  font-weight: bold;
}


.caption {
  margin-left: -1em;
}

.sidebar {
  margin-bottom: 1em;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.list-group-item.list-group-item-action {
  border-radius: 5px;
  border: none;
}

.list-group-item.active {
  background-color: #b51112;
  border-color: #b51112;
  font-weight: bold;
}

.thumbnail {
  border-radius: 5px;
}

.img-container {
  /* padding-left: 0em; */
}

.thumb-img {
  position: relative;
}


img:hover {
  webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.item {
  border-bottom: 0px solid grey;
  border-width: thin;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.duration {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #b51112;
  color: white;
  padding: 0.50em 0.40em;
  border-radius: 5px;
}

.duration i {
  margin-right: 0.2em;
}

.container-main {
  margin: 0px 30px;
}

@media (max-width: 768px) {
  .caption {
    margin: 0 0em;
  }

  .container-main {
    margin: 0px 15px;
  }
}
